<?xml version="1.0" encoding="UTF-8"?>
<config>
  <group>
    <group-name>Agendador</group-name>
    <item>
      <item-name>Tempo</item-name>
      <item-param>60000</item-param>
    </item>
  </group>
  <group>
    <group-name>CodeExport</group-name>
    <item>
      <item-name>PoolSize</item-name>
      <item-param>500</item-param>
    </item>
  </group>
  <group>
    <group-name>Componentes</group-name>
    <item>
      <item-name>CarregarMoreLookup</item-name>
      <item-param>1</item-param>
    </item>
    <item>
      <item-name>PaginacaoConsulta</item-name>
      <item-param>100</item-param>
    </item>
    <item>
      <item-name>PaginacaoGrid</item-name>
      <item-param>100</item-param>
    </item>
    <item>
      <item-name>PaginacaoMoreLookup</item-name>
      <item-param>100</item-param>
    </item>
  </group>
  <group>
    <group-name>Proxy</group-name>
    <item>
      <item-name>Porta</item-name>
      <item-param>0</item-param>
    </item>
    <item>
      <item-name>Senha</item-name>
      <item-param></item-param>
    </item>
    <item>
      <item-name>Servidor</item-name>
      <item-param></item-param>
    </item>
    <item>
      <item-name>Usuario</item-name>
      <item-param></item-param>
    </item>
  </group>
  <group>
    <group-name>Relatorio</group-name>
    <item>
      <item-name>GeradorLocalPadrao</item-name>
      <item-param>0</item-param>
    </item>
  </group>
  <group>
    <group-name>Sessao</group-name>
    <item>
      <item-name>AgendadorTarefas</item-name>
      <item-param>0</item-param>
    </item>
    <item>
      <item-name>DebugCachedFiles</item-name>
      <item-param>0</item-param>
    </item>
    <item>
      <item-name>DebugMode</item-name>
      <item-param>0</item-param>
    </item>
    <item>
      <item-name>LogSQL</item-name>
      <item-param>0</item-param>
    </item>
    <item>
      <item-name>RuleTimeout</item-name>
      <item-param>300</item-param>
    </item>
    <item>
      <item-name>Tempo</item-name>
      <item-param>7200</item-param>
    </item>
  </group>
  <group>
    <group-name>Websocket</group-name>
    <item>
      <item-name>Prefixo</item-name>
      <item-param>WS</item-param>
    </item>
    <item>
      <item-name>Quantidade</item-name>
      <item-param>500</item-param>
    </item>
  </group>
</config>

